<!doctype html>
<html lang="en">

<head>
  <script type="text/javascript" src="/jquery-3.3.1.min.js"></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="lib-css/fonts.css">
  <link rel="stylesheet" href="lib-css/material-icons.css">
  <link rel="stylesheet" href="lib-css/material.light_blue-orange.min.css" />
  <link rel="stylesheet" href="src/css/app.css">

  <link rel="manifest" href="/manifest.json">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Friendly Flashback">
  <link rel="apple-touch-icon" href="src/images/icons/apple-icon-57x57.png" sizes="57x57">
  <link rel="apple-touch-icon" href="src/images/icons/apple-icon-60x60.png" sizes="60x60">
  <link rel="apple-touch-icon" href="src/images/icons/apple-icon-72x72.png" sizes="72x72">
  <link rel="apple-touch-icon" href="src/images/icons/apple-icon-76x76.png" sizes="76x76">
  <link rel="apple-touch-icon" href="src/images/icons/apple-icon-114x114.png" sizes="114x114">
  <link rel="apple-touch-icon" href="src/images/icons/apple-icon-120x120.png" sizes="120x120">
  <link rel="apple-touch-icon" href="src/images/icons/apple-icon-144x144.png" sizes="144x144">
  <link rel="apple-touch-icon" href="src/images/icons/apple-icon-152x152.png" sizes="152x152">
  <link rel="apple-touch-icon" href="src/images/icons/apple-icon-180x180.png" sizes="180x180">

  <meta name="msapplication-TileImage" content="/src/images/icons/app-icon-144x144.png">
  <meta name="msapplication-TileColor" content="#fff">
  <meta name="theme-color" content="#3f51b5">
  <title>Friendly Flashback</title>
  <script src="https://www.gstatic.com/firebasejs/5.5.6/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.5.6/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.5.6/firebase-firestore.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.5.6/firebase-storage.js"></script>
</head>

<body>
  <div class="loader">
    <div class="inner"></div>
  </div>
  <style>
    .loader{
            width: 100%;
            height: 100%;
            background-color: rgb(255,255,255);
            position: fixed;
            top: 0px;
            left: 0px;
            z-index: 1000;
        }
        .loader .inner{
            width: 100%;
            height: 100%;
            background: url(./loader.gif) center center no-repeat;
        }
    </style>
  <script>
    $(window).on("load", function () {
      $(".loader .inner").fadeOut(750, function () {
        $(".loader").fadeOut(2000);
      });
    })
  </script>
  <div id="app">









  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
          <span class="mdl-layout-title">Friendly Flashback</span>
          <div class="mdl-layout-spacer"></div>
          <nav class="mdl-navigation mdl-layout--large-screen-only">
              <a class="mdl-navigation__link" href="/index">Contacts</a>
              <a class="mdl-navigation__link" href="/addContact">Add Contact</a>
              <a class="mdl-navigation__link" href="/camera">Camera</a>
              <a onclick="mainApp.logOut()" class="mdl-navigation__link">Logout</a>
          </nav>
      </div>
  </header>
  <div class="mdl-layout__drawer">
      <span class="mdl-layout-title">Friendly Flashback</span>
      <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="/index">Contacts</a>
          <a class="mdl-navigation__link" href="/addContact">Add Contact</a>
          <a class="mdl-navigation__link" href="/camera">Camera</a>

          <a onclick="mainApp.logOut()" class="mdl-navigation__link">Logout</a>

      </nav>
  </div>










    <main class="mdl-layout__content mat-typography">

      <img src="/src/images/mountain-croped.jpg" srcset="/src/images/mountain-croped.jpg 1200w,
          /src/images/mountain-croped.jpg 900w,
          /src/images/mountain-croped.jpg 480w"
        alt="Explore the City" class="main-image" style="width: 100vw;">

      <div class="page-content">

        <div class="text-center">
          <h5 class="mdl-color-text--primary" id="displayName" style="text-align: center;"></h5>
        </div>

        <ul id="friend-list" class="demo-list-icon mdl-list"></ul>
      </div>

      <div id="confirmation-toast" aria-live="assertive" aria-atomic="true" aria-relevant="text" class="mdl-snackbar mdl-js-snackbar">
        <div class="mdl-snackbar__text"></div>
        <button type="button" class="mdl-snackbar__action"></button>
      </div>
    </main>

  </div>
  </div>
  <div class="floating-button" style="position: absolute;left: 75vw;bottom: 10vh;z-index: 5;" onclick="javascript:location.href='/camera'">
    <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored" id="share-image-button">
      <i class="material-icons">camera_alt</i>
    </button>
  </div>


  <script src="./fireBase.js"></script>
  <script src="./index.js"></script>


  <script defer src="lib-css/material.min.js"></script>
  <script src="src/js/promise.js"></script>
  <script src="src/js/fetch.js"></script>
  <script src="src/js/idb.js"></script>
  <script src="src/js/utility.js"></script>
  <script src="lib-css/app.js"></script>

  <script>

    $(window).on("load", function {
      $(".loader .inner").fadeOut(500, function () {
        $(".loader").fadeOut(750);
      });
    })
  </script>
</body>

</html>